table, th, td {
    border: 1px solid black;
}

div {
    text-align: center;
}

div#theform {
    display: inline-block;
}

div#theresults {
    display: inline-block;
}

div#theleft {
    float: left;
    padding-right: 20px;
}

div#theright {
    float: right;
}